.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--020);
}

.form label {
  display: block;
  font: 600 1rem/1.5 "Poppins", sans-serif;
  margin-bottom: 4px;
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background: var(--c1);
  border: 1px solid var(--c2);
  padding: var(--012);
  border-radius: 5px;
  width: 100%;
}

.form.form input[type="text"]:focus,
.form input[type="email"]:focus,
.form textarea:focus {
  outline: none;
  border-color: var(--p1);
  background: var(--c0);
  box-shadow: 0 0 0 2px #fea;
}

.form .expand-linha {
  grid-column: span 2;
}

@media (max-width: 37.5rem) {
  .form {
    grid-template-columns: 1fr;
  }

  .form .expand-linha {
    grid-column: 1;
  }
}
