/* CSS ROOT */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Roboto", "Merriweather";
}

:root {
  /* colors */
  --c0: #fff;
  --c1: #f7f7f7;
  --c2: #ededed;
  --c3: #dedede;
  --c4: #ccc;
  --c5: #b2b2b2;
  --c6: #9c9c9c;
  --c7: #717171;
  --c8: #595959;
  --c9: #404040;
  --c10: #2e2e2e;
  --c11: #111;
  --c12: #000;
  --p1: #ffbb00;
  --p2: #e4a30b;
  --p3: #a66f00;
  --p4: #664400;
  --p5: #332200;
  --gradient: linear-gradient(var(--p1), #f2a50c);
  --gradient-silver: linear-gradient(var(--c10), #363636);

  /* spaces */
  --004: 0.25rem;
  --008: 0.5rem;
  --012: 0.75rem;
  --016: 1rem;
  --020: 1.25rem;
  --024: 1.5rem;
  --032: 2rem;
  --036: 2.25rem;
  --040: 2.5rem;
  --048: 3rem;
  --060: 3.75rem;
  --072: 4.5rem;
  --080: 5rem;
  --120: 7.5rem;
  --160: 10rem;
  --180: 11.25rem;
  --200: 12.5rem;

  /* font size */
  --12: 0.75rem;
  --14: 0.875rem;
  --16: 1rem;
  --18: 1.125rem;
  --24: 1.5rem;
  --32: 2rem;
  --36: 2.25rem;
  --64: 4rem;

  /* shadows */
  --shadow-1: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  --shadow-2: 0 -5px 10px 0 rgba(0, 0, 0, 0.5);
  --shadow-3: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 5px;
}

/* CORES CLASS */

.cor-0 {
  color: #fff;
}

.cor-1 {
  color: #f7f7f7;
}

.cor-2 {
  color: #ededed;
}

.cor-3 {
  color: #dedede;
}

.cor-4 {
  color: #ccc;
}

.cor-5 {
  color: #b2b2b2;
}

.cor-6 {
  color: #9c9c9c;
}

.cor-7 {
  color: #717171;
}

.cor-8 {
  color: #595959;
}

.cor-9 {
  color: #404040;
}

.cor-10 {
  color: #2e2e2e;
}

.cor-11 {
  color: #111;
}

.cor-12 {
  color: #000;
}

.cor-p1 {
  color: #ffbb00;
}

.cor-p2 {
  color: #e4a30b;
}

.cor-p3 {
  color: #a66f00;
}

.cor-p4 {
  color: #664400;
}

.cor-p5 {
  color: #332200;
}

/* CSS CONTAINER */
.container {
  display: grid;
  max-width: 75rem;
  margin: 0 auto;
}

/* CSS BOTÕES */

.btn {
  color: var(--p5);
  background: var(--gradient);
  padding: var(--016) var(--032);
  place-items: center;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  font-size: var(--18);
  line-height: 1.33;
  font-weight: 600;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  max-width: max-content;
}

.btn:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.btn-silver {
  color: var(--c4);
  background: var(--gradient-silver);
  padding: var(--016) var(--032);
  place-items: center;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  font-size: var(--18);
  line-height: 1.33;
  font-weight: 600;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  max-width: max-content;
}

.btn-silver:hover {
  background: linear-gradient(#383838, #444444);
}

.btn-alt {
  color: var(--p1);
  place-items: center;
  text-transform: uppercase;
  display: inline-block;
  font-size: var(--24);
  line-height: 1.33;
  font-weight: 600;
  position: relative;
  max-width: max-content;
}

.btn-alt::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: var(--p1);
  position: absolute;
}

/* CSS FONTS */

.font-1-xxl {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: var(--64);
  line-height: 1.125;
}

.font-1-xl {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: var(--32);
  line-height: 1.25;
}

.font-1-l {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: var(--24);
  line-height: 1.5;
}

.font-1-m {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: var(--18);
  line-height: 1.33;
}

.font-1-m-b {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: var(--18);
  line-height: 1.33;
}

.font-1-s {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: var(--16);
  line-height: 1.5;
}

.font-1-xs {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: var(--12);
  line-height: 1.33;
}

.font-2-l {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: var(--24);
  line-height: 1.5;
}

.font-2-l-b {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: var(--24);
  line-height: 1.5;
  text-transform: uppercase;
}

.font-2-m {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: var(--18);
  line-height: 1.33;
}

.font-2-s {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: var(--16);
  line-height: 1.5;
}

.font-2-xs {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: var(--14);
  line-height: 1.43;
}
