.introducao-bg {
  background: var(--c12);
  box-shadow: inset 0 -120px var(--c0);
}

.introducao {
  grid-template-columns: 1fr 1fr;
  gap: 0 var(--040);
  justify-content: start;
  padding-left: var(--020);
  padding-right: var(--020);
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: var(--200);
}

.introducao p {
  padding: var(--032) 0;
}

.introducao img {
  object-fit: cover;
  box-shadow: var(--shadow-1);
  width: 100%;
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: var(--048);
  }

  .introducao p {
    font-size: var(--018);
    padding: var(--020) 0;
  }
}

@media (max-width: 850px) {
  .introducao-bg {
    box-shadow: inset 0 -60px var(--c0);
    background: var(--c11);
  }

  .introducao {
    grid-template-columns: 1fr;
    gap: var(--032);
    padding-top: var(--040);
  }

  .introducao-conteudo {
    padding-bottom: var(--40);
  }

  .introducao img {
    height: 18.75rem;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .btn {
    font-size: var(--16);
  }
}
